<div class="inf-chart">
  <div class="top-info">
      <b class="api-name-exchange">VN</b>
      <b class="-index">-INDEX</b>
      <b class="chart-small"></b>
  </div>
  <div class="bottom-info">
  	 <b class="integer-api _up">278</b>
  	 <div class="small-api">
  	 	<div class="mod-api _up">.60</div>
  	 	<div class="wtf">wtf</div>
  	 </div>
  	 <div class="change-scale">
  	 	<div class="mod-api _up">+12</div>
  	 	<div class="wtf">
  	 		<b class="_up">▲</b>
  	 		<b>233</b>
  	 	</div>
  	 </div>
  </div>
</div>
<div class="inf-chart">
  <div class="top-info">
      <b class="api-name-exchange">VN</b>
      <b class="-index">-INDEX</b>
      <b class="chart-small"></b>
  </div>
  <div class="bottom-info">
  	 <b class="integer-api _down">878</b>
  	 <div class="small-api">
  	 	<div class="mod-api _down">.54</div>
  	 	<div class="wtf">wtf</div>
  	 </div>
  	 <div class="change-scale">
  	 	<div class="mod-api _down">-11</div>
  	 	<div class="wtf">
  	 		<b class="_down">▼</b>
  	 		<b>233</b>
  	 	</div>
  	 </div>
  </div>
</div>

<div class="inf-chart">
  <div class="top-info">
      <b class="api-name-exchange">VN</b>
      <b class="-index">-INDEX</b>
      <b class="chart-small"></b>
  </div>
  <div class="bottom-info">
  	 <b class="integer-api _up">1,278</b>
  	 <div class="small-api">
  	 	<div class="mod-api _up">.03</div>
  	 	<div class="wtf">wtf</div>
  	 </div>
  	 <div class="change-scale">
  	 	<div class="mod-api _up">+25</div>
  	 	<div class="wtf">
  	 		<b class="_up">▲</b>
  	 		<b>233</b>
  	 	</div>
  	 </div>
  </div>
</div>
<div class="inf-chart">
  <div class="top-info">
      <b class="api-name-exchange">VN</b>
      <b class="-index">-INDEX</b>
      <b class="chart-small"></b>
  </div>
  <div class="bottom-info">
  	 <b class="integer-api _up">532</b>
  	 <div class="small-api">
  	 	<div class="mod-api _up">.62</div>
  	 	<div class="wtf">wtf</div>
  	 </div>
  	 <div class="change-scale">
  	 	<div class="mod-api _up">+24</div>
  	 	<div class="wtf">
  	 		<b class="_up">▲</b>
  	 		<b>233</b>
  	 	</div>
  	 </div>
  </div>
</div>
<div class="inf-chart">
  <div class="top-info">
      <b class="api-name-exchange">VN</b>
      <b class="-index">-INDEX</b>
      <b class="chart-small"></b>
  </div>
  <div class="bottom-info">
  	 <b class="integer-api _down">968</b>
  	 <div class="small-api">
  	 	<div class="mod-api _down">.63</div>
  	 	<div class="wtf">wtf</div>
  	 </div>
  	 <div class="change-scale">
  	 	<div class="mod-api _down">-65</div>
  	 	<div class="wtf">
  	 		<b class="_down">▼</b>
  	 		<b>233</b>
  	 	</div>
  	 </div>
  </div>
</div>

